#diffex_panel {
	position: absolute;
	bottom: 56px;
	height: 50px;
	overflow: none;
	display: inline;
	right: -8px;
	background-color:#FAFAFA;
	border-style: solid;
	border-width: .5px;
	border-color: #A8A8A8;
	width: 280px;
	z-index: 2;
}

#diffex_header {
	top: 0px;
	overflow: auto;
	height: 40px;
	padding: 10px;
}

#diffex_header > div {
	padding-top: 6px;
}

#diffex_header > div > text {
	position: relative;
    font: 16px sans-serif; 
    color: black;
    top: 3px;
    margin-left: 10px;
}

#diffex_refresh_button {
	margin-right: 40px;
	float: right;
	visibility: hidden;
}

#diffex_closeopen {
	float: right;
	margin-right: 10px;
}

#diffex_title {
	float: right;
	margin-right: 30px;
}

.diffex_legend > div {
	height: 50px;
	overflow: scroll;
}


.diffex_legend_row > div {
	height:13px;
	width:13px;
	margin-top:5px;
	margin-left:5px;
	border-radius:50%;
	float:left;
	
}


.diffex_text_label_div > p {
	color: black;
	font-family: sans-serif;
	font-size: 13px;
	padding-top: 4px;
	padding-left: 5px;
}

.diffex_legend_row {
	width: 180px;
	margin-top: 5px;
	margin-left: 7px;
	overflow: scroll;
    padding-left: 4px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}


#diffex_infobox {
	position: absolute;
	top: 100px;
	bottom: 40px;
	left: 80px;
	width: 300px;
	float: left;
}

#diffex_infobox > text {
	font: 18px sans-serif; 
	color: black;
	margin-left: 30px;
}


#diffex_settings_box {
	visibility:hidden;
	position:absolute;
	left: 660px;
	top: 60px;
	width: 205px;
	height: 255px;
	background-color: #e4e4e4;
}

#diffex_legend_upper {
	top: 60px;
	visibility:hidden;
}

#diffex_legend_lower {
	top: 194px;
	visibility:hidden;
}

.diffex_legend::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.diffex_legend::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.diffex_legend {
	padding-top: 7px;
	position: absolute;
	bottom: 40px;
	left:  420px;
	overflow: scroll;
	width: 200px;
	float: left;
	height: 114px;
	background-color: #e4e4e4;
}

.diffex_legend > div > p {
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
}

#diffex_settings_box > div {
	margin-top: 15px;
	margin-bottom: 30px;
}

#diffex_settings_box > div > p {
    text-align: center;
    font: 14px sans-serif; 
    margin-top: 10px
}

#diffex_refresh_button {
	margin-right: 40px;
	float: right;
	visibility: hidden;
}

.diffex-scatter-dots {
    stroke: black;
    stroke-width: .5px;
    fill: green;
}



