div { border: 0px solid red; } 
p { margin: 2px; font-family: sans-serif; }

#upload_section { 
	overflow: hidden; 
	height: 105px;	
}

#processing_section { 
	height: 40px;
	overflow: hidden;
}

#upload_section > div {
	padding-left: 20px;
}

#processing_section > div {
	overflow: hidden;
	padding-left: 20px;
}

.progress { 
	position:relative; 
	width:220px; 
	border: 2px solid white; 
	padding: 0px; 
	border-radius: 3px; 
	top: 2px;
	background-color: #d3d3d3;
}

.bar { 
	background-color: red; 
	width:0%; 
	height:17px; 
	marign-top: 0px;
}

.percent { 
	position:absolute; 
	display:inline-block; 
	left:48%; 
	font-size: 14px; 
	font-family: sans-serif;
	color: white;
	display:none;
}


.title_bar {
	background-color: #a8a8a8;
	padding-left: 5px;
	position: relative;
	z-index: 2;
	cursor: default;
	
}

.title_bar > div  {
	display:inline-block;
	margin: 3px;
	height: 20px;
	
}

.title_bar > div > p {
	font-weight: bold;
	font-size: 16px;
}

.carrot {
	height: 15px;
	margin: -2px;
}

.check_icon {
	width:18px;
	height:18px;
	margin-bottom: 4px;
	visibility:hidden;
}

#load_content_bar {
	z-index: 1;
	position: relative;
	background-color: #d3d3d3;
    float: left;
    width: 100%;
    padding: 4px;
    height: 80px;
}

#load_content_bar > div {
	width: 500px;	
}

#load_content_bar > div > div {
	float: left;
	margin: 5px;
}

#dataset_name_input {
	margin-top: 1px;
	width: 100px;
	height: 20px;
	font-size: 13px;
}

#password_input {
	margin-top: 1px;
	margin-right: 10px;
	width: 100px;
	height: 20px;
	font-size: 13px;
}


.button {
    background-color: red;
    border: none;
    color: white;
    height: 20px;
    margin-top: 1px;
    font-size: 12px;
    border-radius: 5px;
}

#upload_dropdown {
	background-color: #e0e0e0;
	padding: 5px;
	overflow: scroll
	z-index: 0;
	position: relative;
    width: 100%;
    height: 500px;
    top: 10px;
}

#show_filename {
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 1px;
}

#choose_file_button {
	padding-top: 4px;
	margin-top: 2px;	
}
	

#upload_dropdown > div > p {
	font-size: 14px;
}

#upload_example {
	margin-left: 0px;
	margin-top: 17px;
	background-color: rgba(0,0,0,.1);
	padding: 8px;
	width: 250px;
	position: absolute;
	left: 30px;
}

#explanation_box {
	position: absolute;
	left: 310px;
	width: 280px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 8px;
	border: solid #A9A9A9 .5px;
}

#upload_row {
	margin-top: 125px;
	width: 1000px;
}


#upload_row > div {
	float: left;
	margin-top: 10px;
}

#upload_row > div > p {
	font-size: 14px;
	font-family: sans-serif;
}

#choose_file {
	width: 185px; 
	margin-left: 5px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 3px 12px;
    cursor: pointer;
    background-color: red;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: normal;
    border-radius: 5px;
    height: 20px;
}

label {
	font-family: sans-serif;
	font-size: 14px;
}

#processing_tag {
	margin-left: 10px; 
	display:none;
}

#input_parameters {
	height: 238px;
	background-color: #d3d3d3;
	padding-top: 10px;
}

.parameter_input_div {
	overflow: hidden;
	margin-top: 5px;
	width: 380px;
	background-color: rgba(0,0,0,.1);
}
	

.parameter_title {
	float: left;
	font-family: sans-serif;
	font-size: 14px;
	margin-left: 10px;
	width: 320px;
	margin-top: 4px;
}


.parameter_input {
	float: left;
	width: 40px;
	margin-bottom: 3px;
}

#reporting_panel {
	height: 105px;
	background-color: #e0e0e0;
}

#reporting_text {
	font-size: 14px;
	font-family: sans-serif;
	padding-top: 8px;
}